$amarelo-normal: #ffb70284;
$amarelo-dark: #fde00672;
$amarelo-light: #e9da08a5;
$amarelo-botao: #ffdd0068;
$amarelo-escrita: #f1f7ae;

$secondary-normal: #5a5f0376;
$preto-grafite: #00000092;
$secondary-light: #ffffff84;
$preto-fundo:  #07121f;
$branco-normal: #f5f5f5;
